conformity/
concate/
data/movie
data/old_bin
__pycache__/
encoder/checkpoint
encoder/log
*.log
encoder/tools
figs/
generation/
old_bin/
raw_data/
merge.py
data/amazon_book/item_conf_emb.pkl
data/amazon_book/item_intent_emb_3.pkl
data/amazon_book/itm_emb_np.pkl
data/amazon_book/user_conf_emb.pkl
data/amazon_book/user_intent_emb_3.pkl
data/amazon_book/usr_emb_np.pkl
data/amazon_movie/item_conf_emb.pkl
data/amazon_movie/item_intent_emb_3.pkl
data/amazon_movie/user_conf_emb.pkl
data/amazon_movie/user_intent_emb_3.pkl
data/amazon_movie/usr_emb_np.pkl
data/